* {
	margin: 0;
	padding: 0;

	user-select: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#main {
	height: 90vh;
	aspect-ratio: 3 / 4;
	border-radius: 20px;
	border: 3px solid #d9e8f7;

	background-color: #303030;
}

#title {
	width: 100%;
	height: 15%;
	border-radius: 20px 20px 0 0;
	border-bottom: 1px solid #d9e8f7;

	color: #8dc0f9;
	line-height: 12vh;
	text-align: center;
	font-size: 5vh;
	font-weight: bold;
}

#screen {
	width: 100%;
	height: 85%;
	border-radius: 0 0 20px 20px;

	display: flex;
	flex-direction: column;
}

.word {
	width: 85%;
	height: 14%;
	margin: 2% auto;

	display: flex;
}

.word div {
	width: 16.66%;
	height: 90%;
	border-radius: 8px;
	margin: 0 1.66%;

	display: flex;

	background-color: #353535;

	color: #aee6ff;
	justify-content: center;
	align-items: center;
	font-size: 5vh;
}


/* #keyboard {
	width: 100%;
	height: 20%;
	border-radius: 0 0 20px 20px;
	border-top: 1px solid #d9e8f7;

	display: flex;
	flex-direction: column;

	background-color: #2f2f2f;
}

.row {
	height: 32%;
	margin: 0.5% auto;

	display: flex;
}

.row div {
	width: 2.5vw;
	border-radius: 8px;
	border: 1px solid #aee6ff;
	margin: 3px 0.5vw;

	color: #aee6ff;
	text-align: center;
	font-size: 1.5vw;
} */
